html {
  --ctrl-color:#808080; /* equals .5*255 */
  --bg-color:#808080; /* equals .5*255 */
}
body {
  font: normal normal normal 96%/1.4 verdana, arial, helvetica, sans-serif;
}
div {
  position:relative;
  background-color:var(--ctrl-color);
  width:90%;
  max-width:45em;
  text-align:center;
  border-radius:10px;
  margin: 1em auto;
  padding:.5em;
}
button {
  font-size: 120%;
  display:block;
  margin: .1em auto .8em auto;
  border-radius:.2em;
}
label {
  margin: .2em .2em .2em 1.4em;
}
input {
  transform:scale(1.8);
}
